<link rel="stylesheet" href="/src/styles/pages.style/settings.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="page-content">
        <div class="header-container">
                <h1 class="header-title">CONFIGURACIONES</h1>
        </div>
            <div class="header-right-buttons">
                <button class="button-icon-container">
                    <i class="fas fa-search"></i>
                </button>
                <button class="button-icon-container">
                    <span class="logo-text">&lt;/Riw&gt;</span>
                </button>
                <button class="button-icon-container">
                    <span class="logo-text">&lt;/Riw&gt;</span><span class="logo-subtext">Talent</span>
                </button>
            </div>
        <div class="main-container">
            <div class="inner-container">
                <button class="settings-button first-button">
                    <i class="fas fa-user"></i>
                    <div class="button-text">Perfil (cambiar foto)</div>
                </button>
                <button class="settings-button second-button">
                    <i class="fas fa-bell"></i>
                    <div class="button-text">Activar / Desactivar notificaciones</div>
                </button>
                <button class="settings-button third-button">
                    <i class="fas fa-lock"></i>
                    <div class="button-text">Cambiar contraseña</div>
                </button>
                <button class="settings-button fourth-button">
                    <i class="fas fa-cog"></i>
                    <div class="button-text">Cerrar sesión</div>
                </button>
                </div>
            </div>
        </div>
    </div>