<div class="sidebar">
    <!-- Perfil de usuario -->
    <div class="user-profile">
        <div class="user-avatar">
            <img src="./src/images/jefferson.png" alt="User Avatar">
        </div>
        <div class="user-info">
            <h3>Jefferson Molina</h3>
            <p>molina998@gmail.com</p>
        </div>
    </div>
    <!-- Menú de navegación -->
    <nav class="nav-menu">
    <a href="/home" class="nav-item" data-link>
            <span class="nav-icon">🏠</span>
            <span class="nav-text">INICIO</span>
        </a>
    <a href="/notifications" class="nav-item" data-link>
            <span class="nav-icon">🔔</span>
            <span class="nav-text">NOTIFICACIONES</span>
        </a>
    <a href="/profile" class="nav-item active" data-link>
            <span class="nav-icon">👤</span>
            <span class="nav-text">PERFIL</span>
        </a>
    <a href="/chats" class="nav-item" data-link>
            <span class="nav-icon">💬</span>
            <span class="nav-text">CHATS</span>
        </a>
    <a href="/settings" class="nav-item" data-link>
            <span class="nav-icon">⚙️</span>
            <span class="nav-text">CONFIGURACION</span>
        </a>
    </nav>

    <!-- Botón cerrar sesión -->
    <button class="logout-btn">CERRAR SESION</button>
</div>

<div class="riwi-logo">
        <img src="https://hebbkx1anhila5yf.public.blob.vercel-storage.com/Rectangle%2030-wAM8y0Hi9ws4V67mTr1lY5j69pFbHp.png" alt="Riwi Logo">
</div>


